{% extends 'base.html.twig' %}


{% block body %}
<div class="mt-3">

    <a href="{{ path('app_person_create') }}" class="btn btn-primary">
        Add
    </a>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Lastname</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for person in people %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td>{{ person.name }}</td>
                <td>{{ person.lastname }}</td>
                <td>{{ person.email }}</td>
                <td>{{ person.phone }}</td>
                <td>
                    <a href="{{ path('app_person_edit', {id: person.id}) }}">
                        &#9998;
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
