{% extends 'base.html.twig' %}


{% block body %}
<div class="mt-3">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Lastname</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
        </tr>
        </thead>
        <tbody>
        {% for person in people %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td>{{ person.name }}</td>
                <td>{{ person.lastname }}</td>
                <td>{{ person.email }}</td>
                <td>{{ person.phone }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
